<form method="post" action="{{ path('app_visiteur_medical_delete', {'id': visiteur_medical.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce visiteur médical ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visiteur_medical.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
